
.todoList-Container {
    width: 540px;
}

.todo-item {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 10px 10px 10px 20px;
    border: 1px solid rgba(0,0,0,.125);
}
.todo-item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.todo-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.todo-item:not(:first-child){
    border-top: none;
}
.btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease-in-out 0s;
}
.del-btn {
    color: #DC3545; 
}
.edit-btn {
    margin-right: 5px;
    color: #007BFF;
}
.del-btn:hover {
    background-color: #DC3545;
    color: #fff;
}
.edit-btn:hover {
    color: #fff;
    background-color: #007BFF;
}
.todo-item.isComplete p {
    text-decoration: line-through;
}
.title {
    overflow-wrap: break-word;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.option-item {
    display: flex;
    align-items: center;
}
.input-Container {
    width: 80%;
}
.title-input {
    /* overflow-wrap: break-word; */
    text-align: left;
    /* cursor: pointer; */
    padding: 10px;
    width: 100%;
}
.title-input:focus {
    border: 1px solid #007BFF;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #adccee;
}
